<div class="container mt-4">
  <h2>Novo Item do Menu</h2>
  <li>Selecione o prato ou a bebida para adicionar ao cardápio, não é possível adicionar ambos ao mesmo tempo.</li>
  <%= render 'form' %>
</div>