<% content_for :title, "Editing establishment" %>

<h1>Editar Estabelecimento</h1>

<%= render "form", establishment: @establishment %>

<br>

<div>
  <%= link_to "Exibir Estabelecimento", @establishment %> |
  <%= link_to "Voltar", establishments_path %>
</div>
